<!DOCTYPE html>
<html>
<head>
  <title>BruGram</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/nav' %>
<%= render 'layouts/alerts' %>
<%= link_to "| Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
	
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12 text-center">
			<h1 class="bru-title">Bru<i class="glyphicon glyphicon-phone"></i>Gram</h1>
		</div>
	</div>

<%= yield %>

</div>

</body>
</html>
